{% extends "base.html" %}

{% block content %}

<p class="mb-3">
    Has elegido el Pokémon en <strong>PostgreSQL</strong>:
    <strong>
        {{ pokemon.name|capfirst }}
        {% if mongo_data.favorite %}
<span class="badge bg-warning text-dark">
    ⭐ Favorito
</span>
{% endif %}
    </strong>
</p>

{% if pokemon.picture %}
<div class="text-center mb-4">
    <img
        class="card-img-top mx-auto d-block"
        src="{{ pokemon.picture.url }}"
        alt="{{ pokemon.name }}"
        style="max-width:400px; height:auto;">
</div>
{% endif %}

<h3>Características</h3>

<ul>
    <li><strong>Tipo:</strong> {{ pokemon.type }}</li>
    <li><strong>Peso:</strong> {{ pokemon.weight }}</li>
    <li><strong>Altura:</strong> {{ pokemon.height }}</li>
</ul>

<hr>

<h3>Información adicional</h3>

<p>
    <strong>Veces visto:</strong>
    {{ mongo_data.timesViewed }}
</p>

<p>
    <strong>Última visita:</strong>
    {{ mongo_data.lastViewed }}
</p>

<p>

    <strong>Favorito:</strong>

    {% if pokemon.favorite %}

        ⭐ Sí

    {% else %}

        ❌ No

    {% endif %}

</p>

<p>

    <strong>Comentario:</strong>

    {% if pokemon.comment %}

        {{ pokemon.comment }}

    {% else %}

        Sin comentarios.

    {% endif %}

</p>

<p>
    <strong>Etiquetas:</strong>

    {% if pokemon.tags %}

         <span class="badge bg-warning text-dark">

            🏷️ {{ pokemon.tags }}

        </span>


    {% else %}
        Sin etiquetas.
    {% endif %}
</p>

<hr>


<a href="{% url 'pokedex:index' %}" class="btn btn-outline-danger rounded-pill">

        <i class="fa-solid fa-arrow-left me-1"></i>

        Regresar

    </a>

{% endblock content %}