{% extends 'base.html' %}

{% block content %}
  <p class="p-2"></p>

  <div class="text-right p-2">
    <a
class="btn btn-success rounded-pill shadow-sm mb-4 ms-2 px-4"
href="{% url 'pokedex:add_mongo_pokemon' %}">

<i class="fa-solid fa-plus me-2"></i>

Añadir Pokémon

</a>

    <div class="dropdown d-inline">
      <button
class="btn btn-primary rounded-pill shadow-sm mb-4 ms-2 px-4 dropdown-toggle"
type="button"
data-bs-toggle="dropdown">

<i class="fa-solid fa-arrows-rotate me-2"></i>

Sincronizar

</button>

      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="{% url 'pokedex:sync_postgres' %}?next=mongo">🐘 PostgreSQL → MongoDB</a>
        </li>

        <li>
          <a class="dropdown-item" href="{% url 'pokedex:sync_mongo' %}?next=mongo">🍃 MongoDB → PostgreSQL</a>
        </li>
      </ul>
    </div>

    <a
href="{% url 'pokedex:sync_logs' %}"
class="btn btn-info rounded-pill shadow-sm mb-4 ms-2 px-4">

<i class="fa-solid fa-clock-rotate-left me-2"></i>

Historial

</a>

    <a
href="{% url 'pokedex:index' %}"
class="btn btn-warning rounded-pill shadow-sm mb-4 ms-2 px-4">

<i class="fa-solid fa-right-left me-2"></i>

PostgreSQL

</a>
  </div>

  <div class="database-card bg-success">

<h3>

🍃 MongoDB

</h3>

<p class="mb-0">

Base de datos principal activa

</p>

</div>

 <div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h1 class="fw-bold text-primary mb-0">

            <i class="fa-solid fa-dragon me-2"></i>

            Pokémon

        </h1>

        <small class="text-muted">

            Explora y administra tu colección de Pokémon en MongoDB

        </small>

    </div>

</div>

  <br />

  <div class="row">

{% for pokemon in pokemons %}

<div class="col-md-4 mb-4">

<div class="card pokemon-card">

{% if pokemon.picture %}

<img
src="/media/{{ pokemon.picture }}"
class="pokemon-img"
alt="{{ pokemon.name }}">

{% endif %}

<div class="card-body text-center">

<h3 class="fw-bold">

{{ pokemon.name }}

</h3>

{% with tipo=pokemon.type|lower %}

{% include "type_badge.html" %}

{% endwith %}

<hr>

<p>

⚖️ <b>{{ pokemon.weight }}</b> kg

</p>

<p>

📏 <b>{{ pokemon.height }}</b> cm

</p>

{% if pokemon.favorite %}

<p class="text-warning">

⭐ Favorito

</p>

{% endif %}

</div>

<div class="card-footer text-center">

<a href="{% url 'pokedex:mongo_pokemon' pokemon.pokemonId %}"

class="btn btn-info action-btn">

<i class="fa-solid fa-eye"></i>

</a>

<a href="{% url 'pokedex:edit_mongo_pokemon' pokemon.pokemonId %}"

class="btn btn-primary action-btn">

<i class="fa-solid fa-pen"></i>

</a>

<a href="{% url 'pokedex:delete_mongo_pokemon' pokemon.pokemonId %}"

class="btn btn-danger action-btn"

onclick="return confirm('¿Eliminar este Pokémon?')">

<i class="fa-solid fa-trash"></i>

</a>

</div>

</div>

</div>

{% endfor %}

</div>

  <br />
{% endblock %}
