{% extends "base.html" %}

{% block content %}

<h2>

{% if form.instance.pk %}

Editar Pokémon (PostgreSQL)

{% else %}

Agregar Pokémon (PostgreSQL)

{% endif %}

</h2>

<br>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="mb-3">

        <label>Nombre</label>

        {{ form.name }}

    </div>

    <div class="mb-3">

        <label>Tipo</label>

        {{ form.type }}

    </div>

    <div class="mb-3">

        <label>Peso</label>

        {{ form.weight }}

    </div>

    <div class="mb-3">

        <label>Altura</label>

        {{ form.height }}

    </div>

    {% if form.instance.picture %}

        <div class="mb-3">

            <img
                src="{{ form.instance.picture.url }}"
                style="max-width:200px;">

        </div>

    {% endif %}

    <div class="mb-3">

        <label>Imagen</label>

        {{ form.picture }}

    </div>

    <div class="form-check mb-3">

        {{ form.favorite }}

        <label class="form-check-label">

            Pokémon favorito

        </label>

    </div>

    <div class="mb-3">

        <label>Comentario</label>

        {{ form.comment }}

    </div>

    <div class="mb-3">

        <label>Etiquetas</label>

{{ form.tags }}

<small class="text-muted">

    Separe las etiquetas usando comas.

</small>

        <small class="text-muted">

            Separe las etiquetas usando comas.

        </small>

    </div>

    <button class="btn btn-success">

        <i class="fa-solid fa-floppy-disk me-1"></i>

        {% if form.instance.pk %}

            Guardar cambios

        {% else %}

            Guardar Pokémon

        {% endif %}

    </button>

    <a
        href="{% url 'pokedex:index' %}"
        class="btn btn-danger">

        Cancelar

    </a>

</form>

{% endblock %}