{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-primary">
        {% if edit %} Editar Entrenador {% else %} 
        
        Agregar Entrenador {% endif %}
    </h2>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success">
            {% if edit %}Actualizar{% else %}Guardar{% endif %}
        </button>

        <a href="{% url 'pokedex:trainer_list' %}" class="btn btn-secondary" style="margin-left:10px;">
            Regresar
        </a>
    </form>
</div>
{% endblock %}
